@tailwind base;
@tailwind components;
@tailwind utilities;

.z-100{
  z-index: 100;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.shadow-custom {
  box-shadow: rgba(255, 255, 255, 0.3) 0px 12px 30px 2px;
  animation: shadowBreathing 15s linear infinite;
}

.color-breathing {
  background: linear-gradient(290deg, #ffffff, #666666, #ffffff);
  background-size: 600% 600%;
  color:  transparent;
  background-clip: text;
  -webkit-background-clip: text;

  -webkit-animation: colorBreathing 15s linear infinite;
  -moz-animation: colorBreathing 15s linear infinite;
  -o-animation: colorBreathing 15s linear infinite;
  animation: colorBreathing 15s linear infinite;
  animation-delay: 50s;
}

.animate-blinking {
  animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  -o-animation: blink 1s infinite;
}

@keyframes shadowBreathing {
  0% { box-shadow: rgba(255, 255, 255, 0.3) 0px 12px 30px 2px; }
  50% { box-shadow: rgba(255, 255, 255, 0.5) 0px 18px 40px 4px; }
  100% { box-shadow: rgba(255, 255, 255, 0.3) 0px 12px 30px 2px; }
}

@-webkit-keyframes colorBreathing {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes colorBreathing {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-o-keyframes colorBreathing {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes colorBreathing {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
}

@keyframes blink {
  50% {color: transparent;}
  100% {color: white;}
}
@-webkit-keyframes blink {
  50% {color: transparent;}
  100% {color: white;}
}
@-moz-keyframes blink {
  50% {color: transparent;}
  100% {color: white;}
}
@-o-keyframes blink {
  50% {color: transparent;}
  100% {color: white;}
}